# Node modules
node_modules/

# Build outputs
dist/
build/
.vite/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
tokens.json

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/
*.lcov

# Misc
*.tgz
.cache/
.parcel-cache/
.next/
uploads/

# VSCode
.vscode/ 
